<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>网站导航</title>
    <link rel="stylesheet" href="style.css">
    <link rel="icon" href="https://openlist.cflmy.cn/sd/iv5f06Iw/Web/logo/logo.ico">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
</head>
<body>
    <div class="container">
        <header>
            <div class="logo-container">
                <img src="https://openlist.cflmy.cn/sd/iv5f06Iw/Web/logo/logo-rb-b.webp" alt="Logo" class="logo">
                <h1>网站导航</h1>
            </div>
        </header>
        <main>